<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <link href="/favicon.ico" rel="icon" type="image/ico"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body class="min-h-screen">
<!-- 背景图 -->
<div class="h-screen">
    <div class="hidden xl:block absolute inset-0 z-0"
         style="background-image: url('/svgs/background.svg'); background-repeat: no-repeat; background-size: cover;">
    </div>
    <div class="flex h-screen items-center justify-center">
        <div class=" h-2/3 grid grid-cols-2 gap-8 z-10">
            <!-- 左侧插图区（仅 XL 显示） -->
            <div class="flex items-center justify-center">
                <figure>
                    <img alt="leafage illustration" height="100%" th:src="@{/svgs/illustration.svg}" width="560">
                </figure>
            </div>

            <!-- 右侧表单内容区 -->
            <div class="flex items-center justify-center">
                <div class="max-w-xs m-auto px-4 py-8 xl:p-0 rounded-md shadow-sm xl:shadow-none w-full">
                    <div class="text-xl text-center mb-6">
                        <figure class="text-center">
                            <img alt="logo" height="64" style="display: inline-block" th:src="@{/svgs/logo.svg}"
                                 width="64">
                        </figure>
                        登录您的帐户
                    </div>
                    <!-- 登录表单区域 -->
                    <form class="space-y-4" method="post" th:action="@{/login}">
                        <div>
                            <label class="block text-sm font-medium text-gray-700 mb-1" for="username">用户名</label>
                            <input class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-blue-600"
                                   id="username" name="username" required
                                   type="text">
                        </div>
                        <div class="my-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1" for="password">密码</label>
                            <input class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-blue-600"
                                   id="password" name="password" required
                                   type="password">
                        </div>
                        <div class="flex items-center">
                            <input class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
                                   id="rememberMe" name="rememberMe"
                                   type="checkbox">
                            <label class="block text-sm font-medium text-gray-700 ml-1" for="rememberMe">记住我？</label>
                        </div>
                        <div>
                            <button class="w-full bg-blue-600 text-white font-medium py-2 rounded-md hover:bg-blue-700 transition"
                                    type="submit">
                                登&nbsp;录
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>