spring:
  cloud:
    gateway.server.webflux:
      routes:
        - id: auth_route
          uri: http://127.0.0.1:8761
          predicates:
            - Path=/userinfo,/oauth2/**,/connect/logout
        - id: hypervisor_route
          uri: http://127.0.0.1:8762
          predicates:
            - Path=/hypervisor/**
          filters:
            - StripPrefix=1
        - id: exploiter_route
          uri: http://127.0.0.1:8763
          predicates:
            - Path=/exploiter/**
          filters:
            - StripPrefix=1
        - id: assets_route
          uri: http://127.0.0.1:8764
          predicates:
            - Path=/assets/**
          filters:
            - StripPrefix=1