server:
  port: 8760

spring:
  profiles:
    active: dev
  application:
    name: gateway

  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: auth
              uri: http://localhost:8761
              predicates:
                - Path=/userinfo
              filters:
                - TokenRelay=
            - id: hypervisor
              uri: http://localhost:8762
              predicates:
                - Path=/hypervisor/**
              filters:
                - StripPrefix=1
                - TokenRelay=
            - id: exploiter
              uri: http://localhost:8763
              predicates:
                - Path=/exploiter/**
              filters:
                - StripPrefix=1
                - TokenRelay=
            - id: assets
              uri: http://localhost:8764
              predicates:
                - Path=/assets/**
              filters:
                - StripPrefix=1
                - TokenRelay=

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
  metrics:
    tags:
      application: ${spring.application.name}