server:
  port: 8763

spring:
  application:
    name: exploiter

  profiles:
    active: dev

  web:
    resources:
      add-mappings: false

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: http://127.0.0.1:8761

management:
  endpoints:
    web:
      exposure:
        include: prometheus, health
  metrics:
    tags:
      application: ${spring.application.name}