server:
  port: 8763

spring:
  application:
    name: generator
  profiles:
    active: dev
  freemarker:
    check-template-location: false
  jpa:
    open-in-view: false
  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: http://localhost:8761/oauth2/jwks

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
  metrics:
    tags:
      application: ${spring.application.name}