server:
  port: 8762

spring:
  application:
    name: hypervisor
  profiles:
    active: dev

  jpa:
    open-in-view: false

  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: http://localhost:8761/oauth2/jwks

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus,info
  metrics:
    tags:
      application: ${spring.application.name}