server:
  port: 8764

spring:
  application:
    name: assets

  profiles:
    active: dev

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  security:
    oauth2:
      resource-server:
        jwt:
          jwk-set-uri: http://localhost:8761/oauth2/jwks

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    tags:
      application: ${spring.application.name}